name: CI/CD MLflow

permissions:
  contents: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CONDA_ENV_NAME: mlflow-env
  CONDA_ENV_PATH: MLProject/conda.yaml
  DOCKER_IMAGE_NAME: sales-linear-regression

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Conda & install dependencies
      - name: Set up Conda & Install Dependencies
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.10'
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          auto-activate-base: false

      # 3. Run MLflow Project
      - name: Run MLflow Project
        shell: bash
        run: |
          source "$(conda info --base)/etc/profile.d/conda.sh"
          conda activate mlflow-env
          mlflow run MLProject -P input_path=Sales-Transaction-v.4a_preprocessing.csv

      # 4. Get latest MLflow run_id
      - name: Get latest MLflow run_id
        id: get_run_id
        run: |
          RUN_ID=$(ls -td MLProject/mlruns/0/*/ | head -n 1 | cut -d'/' -f3)

          if [ -z "$RUN_ID" ]; then
            echo "FATAL ERROR: RUN_ID tidak ditemukan."
            exit 1
          fi

          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      # 5. Push MLflow Artifacts to Repo
      - name: Push MLflow Artifacts to Repo
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add -f MLProject/mlruns/
          git commit -m "Add MLflow artifacts for run $RUN_ID" || echo "No changes to commit"
          git push https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main

      # 6. Build Docker Model (optional)
      - name: Build Docker Model
        run: |
          conda run -n ${{ env.CONDA_ENV_NAME }} mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name ${{ env.DOCKER_IMAGE_NAME }}

      # 7. Login Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # 8. Tag Docker Image
      - name: Tag Docker Image
        run: |
          docker tag ${{ env.DOCKER_IMAGE_NAME }} \
            ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest

      # 9. Push Docker Image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest
