name: MLflow CI - Retrain & Build Docker

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Run MLflow Project (Retraining)
      run: |
        cd MLProject
        mlflow run .

    - name: Get latest MLflow run_id
      id: get_run
      run: |
        cd MLProject
        RUN_ID=$(mlflow runs list --experiment-id 0 --max-results 1 | grep -oE '[a-f0-9]{32}' || echo "")
        if [ -z "$RUN_ID" ]; then echo "No run found"; exit 1; fi
        echo "Latest Run ID: $RUN_ID"
        echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT

    - name: Build Docker Image for Model Serving
      run: |
        cd MLProject
        mlflow models build-docker -m runs:/${{ steps.get_run.outputs.run_id }}/model -n yourusername/sales-prediction-model:latest
      # Note: path artifact biasanya "model", bukan "/model"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image to Docker Hub
      run: |
        docker push yourusername/sales-prediction-model:latest