name: MLflow CI Retraining Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain-model:
    runs-on: ubuntu-latest

    steps:
    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Check Env
      run: |
        python --version
        pip --version

    - name: Install dependencies
      run: |
        pip install mlflow==3.7.0

    - name: Run MLflow Project
      working-directory: MLProject
      run: |
        mlflow run .

    - name: Get latest MLflow run_id
      id: get_run
      run: |
        echo "RUN_ID=$(ls -td MLProject/mlruns/*/* | head -1 | awk -F'/' '{print $(NF)}')" >> $GITHUB_ENV

    - name: Build Docker Model
      working-directory: MLProject
      run: |
        mlflow models build-docker \
          --model-uri "runs:/${{ env.RUN_ID }}/model" \
          --name sales-mlflow-model

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Tag Docker Image
      run: |
        docker tag sales-mlflow-model ${{ secrets.DOCKERHUB_USERNAME }}/sales-mlflow-model:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/sales-mlflow-model:latest
