name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Check Environment
        run: |
          python --version
          pip --version

      - name: Install MLflow
        run: |
          pip install --upgrade pip
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      - name: Get Latest Run ID
        run: |
          sudo apt-get update && sudo apt-get install -y jq
          RUN_ID=$(mlflow runs list --experiment-name "Sales Transaction - Linear Regression" --max-results 1 --output json | jq -r '.runs[0].info.run_id')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest Run ID: $RUN_ID"

      - name: Upload MLflow Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          mlflow models build-docker \
            -m runs:/${{ env.RUN_ID }}/model \
            -n ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-sales-model:${{ env.RUN_ID }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-sales-model:${{ env.RUN_ID }}
          # Opsional: push tag latest
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-sales-model:${{ env.RUN_ID }} \
                     ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-sales-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-sales-model:latest