name: CI/CD MLflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Conda
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.10
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          use-mamba: true

      # 3. Install MLflow CLI (optional, kalau pip environment belum menginstal)
      - name: Install MLflow CLI
        run: pip install mlflow==3.7.0

      # 4. Run MLflow Project
      - name: Run MLflow Project
        run: mlflow run MLProject --experiment-name "Sales Transaction - Linear Regression"

      # 5. Upload mlruns sebagai artefak
      - name: Upload MLflow Artefacts
        uses: actions/upload-artifact@v3
        with:
          name: mlflow-runs
          path: MLProject/mlruns

      # 6. Build Docker Image
      - name: Build Docker Image
        run: mlflow build-docker MLProject

      # 7. Push Docker Image
      - name: Docker login
        if: secrets.DOCKER_USERNAME && secrets.DOCKER_PASSWORD
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        if: secrets.DOCKER_USERNAME && secrets.DOCKER_PASSWORD
        run: |
          IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/sales-linear-regression:latest
          docker tag mlflow-project:latest $IMAGE_NAME
          docker push $IMAGE_NAME
